---
layout: layouts/base.njk
---
<h1>{{ title }}</h1>

{% if category %}
  {% set displayPosts = collections.posts | postsByCategory(category) %}
{% elif tag %}
  {% set displayPosts = collections.postsByTag[tag] %}
{% else %}
  {% set displayPosts = collections.posts %}
{% endif %}

{% if displayPosts.length %}
<ul class="post-list">
  {% for post in displayPosts %}
  <li>
    <span class="post-date">{{ post.date | dateISO }}</span>
    {% if post.data.category %}
    <span class="post-category"><a href="/{{ post.data.category }}/">{{ post.data.category }}</a></span>
    {% endif %}
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No posts yet.</p>
{% endif %}
